h1 {
    font-family: sans-serif;
  }
  
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: blue;
    }
  
  img {
    display: block;
    width: 100%;
    
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
  
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
     }
  
  .nav-list a {
    display: block;
    padding: 8px;
  }
  
  .nav-list a:hover {
    background: lightpink;
  }
  
  
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
   
  }
  
  .welcome-section {
    font-size: 80px;
    font-weight: 200;
    font-style: italic;
    
  }
  
  
  
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    
    
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    
  }
  
  
  
  
  .projects-grid {
    display: flex;
    flex-wrap: wrap;
     
  }
  
  
  
    .projects-grid {
      grid-template-columns: 1fr;
      justify-content: space-evenly;
    }
  
  .project-image {
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 3rem;
    padding: 1rem;
  }
  
  
  .contact-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    }
  
  .contact-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 900px;
    
  }
  
  
  
h1 {
  font-family: sans-serif;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: blue;
  }

img {
  display: block;
  width: 100%;
  
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;

}

.nav-list {
  display: flex;
  margin-right: 2rem;
   }

.nav-list a {
  display: block;
  padding: 8px;
}

.nav-list a:hover {
  background: lightpink;
}



.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
 
}

.welcome-section {
  font-size: 80px;
  font-weight: 200;
  font-style: italic;
  
}



.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  
  
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  
}




.projects-grid {
  display: flex;
  flex-wrap: wrap;
   
}



  .projects-grid {
    grid-template-columns: 1fr;
    justify-content: space-evenly;
  }

.project-image {
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 3rem;
  padding: 1rem;
}


.contact-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  }

.contact-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 900px;
  
}



  